<div id='container'>
<div class='link'>
  <!-- Your html here -->
  
  <div ng-controller= 'LinksController'>  
    <input type='text'ng-model='search' placeholder="filter">
      <div ng-repeat="link in data.links | filter: search | orderBy: '-visits'" >
        <img src="assets/redirect_icon.png">
        <div class="info">
          <div class="visits">
            <span>{{ link.visits }}</span>Visits
          </div>
        </div>
        <div class="title">{{ link.title }}</div>
        <div class="original">{{ link.url }}</div>
        <h3> <a ng-href ="http://localhost:3000/api/links/{{ link.code }}"> {{ link.base_url }}/{{ link.code }}  </a></h3>
      </div> 
  </div>
  
  
</div>
      <button ng-click='signout()'>Signout</button>
</div>
<!-- <a ng-href="{{myVar}}">{{myVar}}</a> -->
<!-- (key, value) in items">{{key}} => {{value}} -->