<div id='container'>
  <!-- Your html here -->
  <div ng-controller= 'LinksController'>  
    <input type='text'ng-model='search' placeholder="filter">
    <ul>
      <li ng-repeat="link in data.links | filter: search" >
        <h3> <a ng-href ="http://localhost:3000/api/links/{{ link.code }}"> {{ link.base_url }}/{{ link.base_url }}</a><span>Visits: {{ link.visits }}</span></h3>
      </li>
    </ul>
      
  </div>
<!-- <a ng-href="{{myVar}}">{{myVar}}</a> -->
  
</div>
<!-- (key, value) in items">{{key}} => {{value}} -->